.container-news {
	overflow: auto;
	height: 75vh;
	display: flex;
	justify-content: center;
}

.container-news-FCC {
	overflow: auto;
	height: 75vh;
}

.container-articles {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.nav-news{
	position: fixed;
	min-width: 628px;
}

.container-articles-list {
	display: grid;
	grid-template-columns: 300px 300px;
	grid-gap: 20px;
	justify-content: center;
}

.container-fav {
    position: absolute;
    right: 5px;
	top: 5px;
	z-index: 1;
}
.fav_icon {
	font-size: 18px;
	color : #cfcc3df0
}
@media screen and (max-width: 650px) {
	.container-articles-list {
		grid-template-columns: auto;
	}
	.nav-news{
		position: fixed;
		min-width: 310px;
	}
	
}

.image-article {
	display: flex;
	justify-content: center;
	align-items: center;
}

.article-image {
	-webkit-mask-image: -webkit-gradient(linear,
			center bottom,
			center top,
			color-stop(0, rgba(0, 0, 0, 0)),
			color-stop(1, rgba(0, 0, 0, 1)));
}

.title {
	position: absolute;
	bottom: 10%;
	padding: 0px 20px;
}

.loading {
	height: -webkit-fill-available;
	display: flex;
}